.snackbarStyle {
  font-family: "Open sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.2px;

  color: #ffffff;
  background-color: #128667;
  box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 8px;

  width: 557px;
  height: 84px;

  align-items: center;

  box-sizing: border-box;
  padding: 0 27px;
}

.dialog-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */

  letter-spacing: 0.2px;

  /* Body Text */

  color: #1e1e1e;
}
.dialog-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  letter-spacing: 0.2px;

  /* Body Text */

  color: #1e1e1e;
}



.footer-style {
  width: 100%;
  height: 150p;
  background: #ffffff;
  left: 0;
  bottom: 0;
}
.cancel-btn {
  text-transform: none;
  width: 164px;
  height: 51px;
  border: 2px solid #d0343a;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #d0343a;
  text-align: center;
  letter-spacing: 0.2px;
  margin-left: 30px;
}
edituser.edit-btn {
  width: 164px;
  height: 51px;
  border: 2px solid #d0343a;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #d0343a;
  text-align: center;
  letter-spacing: 0.2px;
  margin-right: 60px;
}
.submit-btn {
  
  justify-content: center;
  align-items: center;
  padding: 13.5px 48px;
  width: 186px;
  height: 51px;
  background: #d0343a;
  box-sizing: border-box;
  border-radius: 4px;
}
.enabled-outline-button {
  /* Type=2. Outline, State=Static */

  /* Auto Layout */

  /* display: flex;
  flex-direction: row; */
  justify-content: center;
  align-items: center;
  padding: 13.5px 48px;

  width: 196px;
  height: 51px;

  /* Main Colors/Primary Red */

  border: 2px solid #d0343a;
  box-sizing: border-box;
  border-radius: 4px;
}
.right-arrow-button {
  /* Type=1. Solid, State=Next */

  /* Auto Layout */

  /* display: flex;
  flex-direction: row; */
  margin-left: 30px;
  justify-content: center;
  align-items: center;
  padding: 13.5px 48px;
  border: 2px solid #d0343a;
  width: 186px;
  height: 51px;

  /* Main Colors/Primary Red */

  border-radius: 4px;
}


.edituser-nextbutton {
  text-transform: none;
  width: 164px;
  height: 51px;
  border: 2px solid #d0343a !important;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #d0343a;
  text-align: center;
  letter-spacing: 0.2px;
  
}
.edituser-title {
  margin-top: 8px;
  margin-bottom: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  letter-spacing: 0.2px;

  /* Grey Text */

  color: #878d8d;
}


.header {
  width: 1120px;
  height: 10px;
  left: 1736px;
  top: 363px;
  background: linear-gradient(270deg, #6f2bba 0%, #34d07a 100%);
  border-radius: 8px 8px 0px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-footer {
  width: 100%;
  height: 10px;
  background: linear-gradient(270deg, #6f2bba 0%, #34d087 100%);
}
/*title */
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  margin: 20px 0px 48px 56px;
  letter-spacing: 0.2px;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 64px 48px 0px;
}

.grid-container {
  margin: 0px 64px 48px 64px;
}
.row-container-1 {
  margin: 0px 32px 48px 64px;
}
.row-container-2 {
  margin: 0px 64px 48px 32px;
}
.label-style {
  /*font-family: Open Sans;*/
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  letter-spacing: 0.2px;
  text-transform: capitalize;

  /* Body Text */

  color: #1e1e1e;
}
.required:after {
  content: "*";
  color: #d0343a;
}
.body-cell {
  border-bottom: none !important;
}
.sn-cell {
  font-weight: bold;
}
.edituser .head-style {
  height: 72px;

  background-color: #f7f7f8;
  border-bottom: none !important;
}
.header-cell {
  font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #1e1e1e;
}
.table-container {
  margin-bottom: 32px;
}
.sectionheader {
  /* H2 - Open Sans Bold 28pt */

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 42px */

  letter-spacing: 0.2px;

  /* Body Text */

  color: #1e1e1e;
}
.root {
  flex-grow: 1;
}
.connector {
  height: 4px;

  /* Gradients/Gradient Purple */
  background: linear-gradient(270deg, #6f2bba 0%, #d0343a 100%) !important;
}

.gradient-header {
  width: 100%;
  height: 10px;
  /* Gradients/Gradient Purple */
  background: linear-gradient(270deg, #6f2bba 0%, #d0343a 100%);
  border-radius: 8px 8px 0px 0px;
}

.footer-box {
  margin: 56px 0px 26px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
.sidenav {
  height: 100%;
  top: 0;
  left: 0;
  padding: 60px;
  
}
.sidenavlink {
  font-size: 20px;
  padding: 8px;

}
